<a href="https://colab.research.google.com/github/caushy-git/Analysis/blob/main/hr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/content'

In [3]:
hr_df=pd.read_csv('/content/human_resource/Human_Resources.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/human_resource/Human_Resources.csv'

In [13]:
hr_df.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1467.000000,1470.000000,1470.000000,1470.000000,1470.0,1469.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,6505.155419,802.485714,9.192517,2.912925,1.0,1025.556161,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,4711.297846,403.509100,8.106864,1.024165,0.0,601.646166,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,1009.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2911.000000,465.000000,2.000000,2.000000,1.0,492.000000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,4908.000000,802.000000,7.000000,3.000000,1.0,1022.000000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,8378.000000,1157.000000,14.000000,4.000000,1.0,1556.000000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,19999.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [14]:
hr_df.head(5)

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,5993.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,49,NaN,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,37,2090.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,33,2909.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,27,3468.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

In [15]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth', None)

In [16]:
hr_df=hr_df.dropna()

In [17]:
len(hr_df)

1463

In [18]:
hr_mean=hr_df.groupby('BusinessTravel')['MonthlyIncome'].mean()

In [19]:
hr_mean

BusinessTravel
Non-Travel           6284.275168
Travel_Frequently    6197.579710
Travel_Rarely        6632.471098
Name: MonthlyIncome, dtype: float64

In [20]:
hr_df['test_map']=hr_df['BusinessTravel'].map(hr_mean)

In [21]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1463 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1463 non-null   int64
 1   MonthlyIncome             1463 non-null   float64
 2   Attrition                 1463 non-null   object
 3   BusinessTravel            1463 non-null   object
 4   DailyRate                 1463 non-null   int64
 5   Department                1463 non-null   object
 6   DistanceFromHome          1463 non-null   int64
 7   Education                 1463 non-null   int64
 8   EducationField            1463 non-null   object
 9   EmployeeCount             1463 non-null   int64
 10  EmployeeNumber            1463 non-null   float64
 11  EnvironmentSatisfaction   1463 non-null   int64
 12  Gender                    1463 non-null   object
 13  HourlyRate                1463 non-null   int64
 14  JobInvolvement            1463 non-null   int64
 15  JobLevel                  1463 non-null   int64
 16  JobRole                   1463 non-null   object
 17  JobSatisfaction           1463 non-null   int64
 18  MaritalStatus             1463 non-null   object
 19  MonthlyRate               1463 non-null   float64
 20  NumCompaniesWorked        1463 non-null   int64
 21  Over18                    1463 non-null   object
 22  OverTime                  1463 non-null   object
 23  PercentSalaryHike         1463 non-null   float64
 24  PerformanceRating         1463 non-null   float64
 25  RelationshipSatisfaction  1463 non-null   int64
 26  StandardHours             1463 non-null   int64
 27  StockOptionLevel          1463 non-null   int64
 28  TotalWorkingYears         1463 non-null   int64
 29  TrainingTimesLastYear     1463 non-null   int64
 30  WorkLifeBalance           1463 non-null   int64
 31  YearsAtCompany            1463 non-null   int64
 32  YearsInCurrentRole        1463 non-null   int64
 33  YearsSinceLastPromotion   1463 non-null   int64
 34  YearsWithCurrManager      1463 non-null   int64
 35  test_map                  1463 non-null   float64
dtypes: float64(6), int64(21), object(9)
memory usage: 422.9+ KB

In [22]:
hr_df.columns

Index(['Age', 'MonthlyIncome', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'test_map'],
      dtype='object')

In [23]:
encoded_col=hr_df.select_dtypes(include='object').columns

In [24]:
df_encode=pd.get_dummies(hr_df)

In [25]:
df_encode.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1463 entries, 0 to 1469
Data columns (total 58 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1463 non-null   int64
 1   MonthlyIncome                      1463 non-null   float64
 2   DailyRate                          1463 non-null   int64
 3   DistanceFromHome                   1463 non-null   int64
 4   Education                          1463 non-null   int64
 5   EmployeeCount                      1463 non-null   int64
 6   EmployeeNumber                     1463 non-null   float64
 7   EnvironmentSatisfaction            1463 non-null   int64
 8   HourlyRate                         1463 non-null   int64
 9   JobInvolvement                     1463 non-null   int64
 10  JobLevel                           1463 non-null   int64
 11  JobSatisfaction                    1463 non-null   int64
 12  MonthlyRate                        1463 non-null   float64
 13  NumCompaniesWorked                 1463 non-null   int64
 14  PercentSalaryHike                  1463 non-null   float64
 15  PerformanceRating                  1463 non-null   float64
 16  RelationshipSatisfaction           1463 non-null   int64
 17  StandardHours                      1463 non-null   int64
 18  StockOptionLevel                   1463 non-null   int64
 19  TotalWorkingYears                  1463 non-null   int64
 20  TrainingTimesLastYear              1463 non-null   int64
 21  WorkLifeBalance                    1463 non-null   int64
 22  YearsAtCompany                     1463 non-null   int64
 23  YearsInCurrentRole                 1463 non-null   int64
 24  YearsSinceLastPromotion            1463 non-null   int64
 25  YearsWithCurrManager               1463 non-null   int64
 26  test_map                           1463 non-null   float64
 27  Attrition_No                       1463 non-null   bool
 28  Attrition_Yes                      1463 non-null   bool
 29  BusinessTravel_Non-Travel          1463 non-null   bool
 30  BusinessTravel_Travel_Frequently   1463 non-null   bool
 31  BusinessTravel_Travel_Rarely       1463 non-null   bool
 32  Department_Human Resources         1463 non-null   bool
 33  Department_Research & Development  1463 non-null   bool
 34  Department_Sales                   1463 non-null   bool
 35  EducationField_Human Resources     1463 non-null   bool
 36  EducationField_Life Sciences       1463 non-null   bool
 37  EducationField_Marketing           1463 non-null   bool
 38  EducationField_Medical             1463 non-null   bool
 39  EducationField_Other               1463 non-null   bool
 40  EducationField_Technical Degree    1463 non-null   bool
 41  Gender_Female                      1463 non-null   bool
 42  Gender_Male                        1463 non-null   bool
 43  JobRole_Healthcare Representative  1463 non-null   bool
 44  JobRole_Human Resources            1463 non-null   bool
 45  JobRole_Laboratory Technician      1463 non-null   bool
 46  JobRole_Manager                    1463 non-null   bool
 47  JobRole_Manufacturing Director     1463 non-null   bool
 48  JobRole_Research Director          1463 non-null   bool
 49  JobRole_Research Scientist         1463 non-null   bool
 50  JobRole_Sales Executive            1463 non-null   bool
 51  JobRole_Sales Representative       1463 non-null   bool
 52  MaritalStatus_Divorced             1463 non-null   bool
 53  MaritalStatus_Married              1463 non-null   bool
 54  MaritalStatus_Single               1463 non-null   bool
 55  Over18_Y                           1463 non-null   bool
 56  OverTime_No                        1463 non-null   bool
 57  OverTime_Yes                       1463 non-null   bool
dtypes: bool(31), float64(6), int64(21)
memory usage: 364.3 KB

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le=LabelEncoder()
hr_df[encoded_col]=hr_df[encoded_col].apply(le.fit_transform)

In [28]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1463 entries, 0 to 1469
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1463 non-null   int64
 1   MonthlyIncome             1463 non-null   float64
 2   Attrition                 1463 non-null   int64
 3   BusinessTravel            1463 non-null   int64
 4   DailyRate                 1463 non-null   int64
 5   Department                1463 non-null   int64
 6   DistanceFromHome          1463 non-null   int64
 7   Education                 1463 non-null   int64
 8   EducationField            1463 non-null   int64
 9   EmployeeCount             1463 non-null   int64
 10  EmployeeNumber            1463 non-null   float64
 11  EnvironmentSatisfaction   1463 non-null   int64
 12  Gender                    1463 non-null   int64
 13  HourlyRate                1463 non-null   int64
 14  JobInvolvement            1463 non-null   int64
 15  JobLevel                  1463 non-null   int64
 16  JobRole                   1463 non-null   int64
 17  JobSatisfaction           1463 non-null   int64
 18  MaritalStatus             1463 non-null   int64
 19  MonthlyRate               1463 non-null   float64
 20  NumCompaniesWorked        1463 non-null   int64
 21  Over18                    1463 non-null   int64
 22  OverTime                  1463 non-null   int64
 23  PercentSalaryHike         1463 non-null   float64
 24  PerformanceRating         1463 non-null   float64
 25  RelationshipSatisfaction  1463 non-null   int64
 26  StandardHours             1463 non-null   int64
 27  StockOptionLevel          1463 non-null   int64
 28  TotalWorkingYears         1463 non-null   int64
 29  TrainingTimesLastYear     1463 non-null   int64
 30  WorkLifeBalance           1463 non-null   int64
 31  YearsAtCompany            1463 non-null   int64
 32  YearsInCurrentRole        1463 non-null   int64
 33  YearsSinceLastPromotion   1463 non-null   int64
 34  YearsWithCurrManager      1463 non-null   int64
 35  test_map                  1463 non-null   float64
dtypes: float64(6), int64(30)
memory usage: 422.9 KB

In [29]:
hr_df.describe()

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,test_map
count,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.0,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.0,1463.000000,1463.000000,1463.000000,1463.000000,1463.0,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000,1463.000000
mean,36.917977,6514.965140,0.161312,1.607656,802.107997,1.261107,9.183869,2.915926,2.248804,1.0,1028.721805,2.721121,0.599453,65.860560,2.727956,2.066302,4.458647,2.728640,1.097061,14307.200957,2.693780,0.0,0.282297,15.196856,3.152427,2.712235,80.0,0.792891,11.299385,2.798360,2.762133,7.016405,4.231032,2.191388,4.126452,6514.965140
std,9.105032,4713.524617,0.367945,0.665134,403.460111,0.528437,8.110790,1.023212,1.331877,0.0,600.057048,1.093513,0.490177,20.332825,0.711315,1.107915,2.463308,1.103182,0.729586,7122.275473,2.496347,0.0,0.450271,3.654477,0.359557,1.081448,0.0,0.850785,7.783355,1.289099,0.707214,6.127331,3.616340,3.225498,3.565261,185.050464
min,18.000000,1009.000000,0.000000,0.000000,102.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.000000,1.000000,0.000000,30.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2094.000000,0.000000,0.0,0.000000,11.000000,3.000000,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,6197.579710
25%,30.000000,2918.500000,0.000000,1.000000,465.000000,1.000000,2.000000,2.000000,1.000000,1.0,495.500000,2.000000,0.000000,48.000000,2.000000,1.000000,2.000000,2.000000,1.000000,8042.500000,1.000000,0.0,0.000000,12.000000,3.000000,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,6284.275168
50%,36.000000,4936.000000,0.000000,2.000000,802.000000,1.000000,7.000000,3.000000,2.000000,1.0,1025.000000,3.000000,1.000000,66.000000,3.000000,2.000000,5.000000,3.000000,1.000000,14242.000000,2.000000,0.0,0.000000,14.000000,3.000000,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,6632.471098
75%,43.000000,8380.500000,0.000000,2.000000,1157.000000,2.000000,14.000000,4.000000,3.000000,1.0,1557.500000,4.000000,1.000000,83.500000,3.000000,3.000000,7.000000,4.000000,2.000000,20461.000000,4.000000,0.0,1.000000,18.000000,3.000000,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000,6632.471098
max,60.000000,19999.000000,1.000000,2.000000,1499.000000,2.000000,29.000000,5.000000,5.000000,1.0,2068.000000,4.000000,1.000000,100.000000,4.000000,5.000000,8.000000,4.000000,2.000000,26999.000000,9.000000,0.0,1.000000,25.000000,4.000000,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000,6632.471098

In [4]:
hr_df=pd.read_csv('/Human_Resources.csv')

In [5]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   MonthlyIncome             1467 non-null   float64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1469 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1469 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1469 non-null   float64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1469 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1469 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1469 non-null   object
 19  MonthlyRate               1468 non-null   float64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1469 non-null   float64
 24  PerformanceRating         1469 non-null   float64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(5), int64(21), object(9)
memory usage: 402.1+ KB

In [6]:
hr_df.isna().sum()

Age                         0
MonthlyIncome               3
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  1
DistanceFromHome            0
Education                   0
EducationField              1
EmployeeCount               0
EmployeeNumber              1
EnvironmentSatisfaction     0
Gender                      1
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     1
JobSatisfaction             0
MaritalStatus               1
MonthlyRate                 2
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           1
PerformanceRating           1
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
hr_df['MonthlyIncome'].fillna(hr_df['MonthlyIncome'].mean(),inplace=True)

In [8]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   MonthlyIncome             1470 non-null   float64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1469 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1469 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1469 non-null   float64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1469 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1469 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1469 non-null   object
 19  MonthlyRate               1468 non-null   float64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1469 non-null   float64
 24  PerformanceRating         1469 non-null   float64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(5), int64(21), object(9)
memory usage: 402.1+ KB

In [9]:
hr_df.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1469.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,6505.155419,802.485714,9.192517,2.912925,1.0,1025.556161,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,4706.484668,403.509100,8.106864,1.024165,0.0,601.646166,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,1009.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2914.750000,465.000000,2.000000,2.000000,1.0,492.000000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,4933.000000,802.000000,7.000000,3.000000,1.0,1022.000000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,8368.500000,1157.000000,14.000000,4.000000,1.0,1556.000000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,19999.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [10]:
hr_df.dropna(inplace=True)

In [11]:
hr_df.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.0,1465.000000,1465.000000,1465.000000,1465.000000,...,1465.000000,1465.0,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000
mean,36.936519,6514.951748,801.906485,9.180205,2.914676,1.0,1028.219113,2.720819,65.855973,2.727645,...,2.713311,80.0,0.792491,11.297611,2.797952,2.761775,7.019113,4.234812,2.193857,4.130375
std,9.112799,4710.303910,403.460074,8.106043,1.023740,0.0,600.294861,1.092953,20.319386,0.711119,...,1.081258,0.0,0.850473,7.778185,1.288398,0.707039,6.123695,3.615316,3.225893,3.564405
min,18.000000,1009.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2926.000000,465.000000,2.000000,2.000000,1.0,495.000000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,4936.000000,802.000000,7.000000,3.000000,1.0,1025.000000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,8380.000000,1157.000000,14.000000,4.000000,1.0,1557.000000,4.000000,83.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,19999.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [12]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [13]:
scaler=MinMaxScaler()
hr_df['Age']=scaler.fit_transform((hr_df['Age']).values.reshape(-1,1))

In [14]:
hr_df.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.0,1465.000000,1465.000000,1465.000000,1465.000000,...,1465.000000,1465.0,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000,1465.000000
mean,0.450869,6514.951748,801.906485,9.180205,2.914676,1.0,1028.219113,2.720819,65.855973,2.727645,...,2.713311,80.0,0.792491,11.297611,2.797952,2.761775,7.019113,4.234812,2.193857,4.130375
std,0.216971,4710.303910,403.460074,8.106043,1.023740,0.0,600.294861,1.092953,20.319386,0.711119,...,1.081258,0.0,0.850473,7.778185,1.288398,0.707039,6.123695,3.615316,3.225893,3.564405
min,0.000000,1009.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.285714,2926.000000,465.000000,2.000000,2.000000,1.0,495.000000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,0.428571,4936.000000,802.000000,7.000000,3.000000,1.0,1025.000000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,0.595238,8380.000000,1157.000000,14.000000,4.000000,1.0,1557.000000,4.000000,83.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,1.000000,19999.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [15]:
scaler=StandardScaler()
hr_df['Age']=scaler.fit_transform((hr_df['Age']).values.reshape(-1,1))

In [16]:
hr_df.head()

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.446062,5993.000000,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1.324247,6505.155419,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,0.006969,2090.000000,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,-0.432124,2909.000000,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,-1.090764,3468.000000,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

Let's filter the values based on condition

In [17]:
mask2 = hr_df['BusinessTravel'].isin(['Travel_Rarely','Travel_Frequently'])
mask1 = hr_df['Department'].isin(['Sales','Research & Development'])
mask3=hr_df['DailyRate'].between(300,800,inclusive='neither')
hr_df2=hr_df[mask2&mask1&mask3]
hr_df2

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
4,-1.090764,3468.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2
12,-0.651671,2911.0,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,...,4,80,1,5,1,2,5,2,4,3
16,-0.541898,3298.0,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,...,4,80,2,7,5,2,6,2,0,5
19,0.116742,3944.0,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,...,3,80,0,6,3,3,3,2,1,2
22,-0.322351,11994.0,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,...,3,80,0,13,4,3,12,6,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,-0.871217,3785.0,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,...,2,80,0,5,3,1,5,4,0,4
1461,1.434021,10854.0,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,...,2,80,1,20,3,3,3,2,2,0
1462,0.226515,12031.0,No,Travel_Rarely,722,Sales,24,1,Marketing,1,...,1,80,1,21,2,2,20,9,9,6
1466,0.226515,9991.0,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,...,1,80,1,9,5,3,7,7,1,7
1469,-0.322351,4404.0,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,...,1,80,0,6,3,4,4,3,1,2

Empty DataFrame
Columns: [Age, MonthlyIncome, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

Find combines daily rate for employees with daily rate >= 1450?

In [18]:
mask1=hr_df['DailyRate']>=1450
hr_df['DailyRate'][mask1].sum()

73749

Filter the hr_df to only include the employees who stayed in the company

Generate statistical summary for employees who stayed

ignore this line

Compare both statistical summaries.
 what do you infer

In [23]:
employee_working=hr_df['Attrition']=="No"
hr_df3=hr_df[employee_working]
hr_df3.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.0,1228.000000,1228.000000,1228.000000,1228.000000,...,1228.000000,1228.0,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000,1228.000000
mean,0.070526,6850.003384,811.854235,8.899837,2.929153,1.0,1031.668567,2.770358,65.910423,2.767915,...,2.735342,80.0,0.843648,11.886808,2.831433,2.781759,7.383550,4.491857,2.241857,4.377036
std,0.972421,4820.558230,403.165265,8.010724,1.026478,0.0,604.163636,1.070932,20.369131,0.691582,...,1.071596,0.0,0.840102,7.755812,1.292605,0.682480,6.091957,3.639738,3.238819,3.589175
min,-2.078723,1051.000000,102.000000,1.000000,1.000000,1.0,2.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.651671,3227.000000,477.000000,2.000000,2.000000,1.0,490.000000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,-0.102805,5208.500000,815.000000,7.000000,3.000000,1.0,1025.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,6.000000,3.000000,1.000000,3.000000
75%,0.665608,8839.500000,1174.500000,13.000000,4.000000,1.0,1576.250000,4.000000,83.000000,3.000000,...,4.000000,80.0,1.000000,16.000000,3.000000,3.000000,10.000000,7.000000,3.000000,7.000000
max,2.531753,19999.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,38.000000,6.000000,4.000000,37.000000,18.000000,15.000000,17.000000

In [25]:
employee_working=hr_df['Attrition']=="Yes"
hr_df4=hr_df[employee_working]
hr_df4.describe()

,Age,MonthlyIncome,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,237.000000,237.000000,237.000000,237.000000,237.000000,237.0,237.000000,237.000000,237.000000,237.000000,...,237.000000,237.0,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000
mean,-0.365427,4778.903609,750.362869,10.632911,2.839662,1.0,1010.345992,2.464135,65.573840,2.518987,...,2.599156,80.0,0.527426,8.244726,2.624473,2.658228,5.130802,2.902954,1.945148,2.852321
std,1.063631,3634.122234,401.899519,8.452525,1.008244,0.0,580.750572,1.169791,20.099958,0.773405,...,1.125437,0.0,0.856361,7.169204,1.254784,0.816453,5.949984,3.174827,3.153077,3.143349
min,-2.078723,1009.000000,103.000000,1.000000,1.000000,1.0,1.000000,1.000000,31.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.980991,2373.000000,408.000000,3.000000,2.000000,1.0,514.000000,1.000000,50.000000,2.000000,...,2.000000,80.0,0.000000,3.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,-0.541898,3202.000000,699.000000,9.000000,3.000000,1.0,1017.000000,3.000000,66.000000,3.000000,...,3.000000,80.0,0.000000,7.000000,2.000000,3.000000,3.000000,2.000000,1.000000,2.000000
75%,0.226515,5916.000000,1092.000000,17.000000,4.000000,1.0,1486.000000,4.000000,84.000000,3.000000,...,4.000000,80.0,1.000000,10.000000,3.000000,3.000000,7.000000,4.000000,2.000000,5.000000
max,2.312207,19859.000000,1496.000000,29.000000,5.000000,1.0,2055.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,15.000000,15.000000,14.000000

In [26]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1465 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1465 non-null   float64
 1   MonthlyIncome             1465 non-null   float64
 2   Attrition                 1465 non-null   object
 3   BusinessTravel            1465 non-null   object
 4   DailyRate                 1465 non-null   int64
 5   Department                1465 non-null   object
 6   DistanceFromHome          1465 non-null   int64
 7   Education                 1465 non-null   int64
 8   EducationField            1465 non-null   object
 9   EmployeeCount             1465 non-null   int64
 10  EmployeeNumber            1465 non-null   float64
 11  EnvironmentSatisfaction   1465 non-null   int64
 12  Gender                    1465 non-null   object
 13  HourlyRate                1465 non-null   int64
 14  JobInvolvement            1465 non-null   int64
 15  JobLevel                  1465 non-null   int64
 16  JobRole                   1465 non-null   object
 17  JobSatisfaction           1465 non-null   int64
 18  MaritalStatus             1465 non-null   object
 19  MonthlyRate               1465 non-null   float64
 20  NumCompaniesWorked        1465 non-null   int64
 21  Over18                    1465 non-null   object
 22  OverTime                  1465 non-null   object
 23  PercentSalaryHike         1465 non-null   float64
 24  PerformanceRating         1465 non-null   float64
 25  RelationshipSatisfaction  1465 non-null   int64
 26  StandardHours             1465 non-null   int64
 27  StockOptionLevel          1465 non-null   int64
 28  TotalWorkingYears         1465 non-null   int64
 29  TrainingTimesLastYear     1465 non-null   int64
 30  WorkLifeBalance           1465 non-null   int64
 31  YearsAtCompany            1465 non-null   int64
 32  YearsInCurrentRole        1465 non-null   int64
 33  YearsSinceLastPromotion   1465 non-null   int64
 34  YearsWithCurrManager      1465 non-null   int64
dtypes: float64(6), int64(20), object(9)
memory usage: 412.0+ KB

In [27]:
hr_df=pd.read_csv('Human_Resources.csv')

In [28]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   MonthlyIncome             1467 non-null   float64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1469 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   int64
 8   EducationField            1469 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1469 non-null   float64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1469 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   int64
 16  JobRole                   1469 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1469 non-null   object
 19  MonthlyRate               1468 non-null   float64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1469 non-null   float64
 24  PerformanceRating         1469 non-null   float64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(5), int64(21), object(9)
memory usage: 402.1+ KB

In [30]:
hr_df['MonthlyRate'].mean()

14310.966621253407

In [40]:
hr_df[['Attrition','MonthlyIncome']]

     Attrition  MonthlyIncome
0          Yes         5993.0
1           No            NaN
2          Yes         2090.0
3           No         2909.0
4           No         3468.0
...        ...            ...
1465        No         2571.0
1466        No         9991.0
1467        No         6142.0
1468        No         5390.0
1469        No         4404.0

[1470 rows x 2 columns]

In [33]:
mask1=hr_df['Attrition']=="Yes"

In [45]:
def filter_func(row):
  if row['Attrition']=="Yes" and row['DailyRate']>1372:
    return row['MonthlyIncome']*1.1
  else:
    return row['MonthlyIncome']

In [46]:
filter_df=hr_df.copy()
filter_df['MonthlyIncome']=hr_df.apply(filter_func,axis=1)
filter_df.head()

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,5993.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,49,NaN,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,37,2299.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,33,2909.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,27,3468.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

In [64]:
filter_df2=filter_df.copy()

In [65]:
def filter_advance(row):
  if row['Attrition']=="Yes" and row['DailyRate']>1000 and pd.isna(row['MonthlyIncome'])!=True:
    row['MonthlyIncome']=row['MonthlyIncome']/2
    row['DailyRate']=(row['DailyRate']*10)+100
    return row
  else:
    return row

In [66]:
filter_df2=filter_df2.apply(filter_advance,axis=1)
filter_df2.head()

,Age,MonthlyIncome,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,2996.5,Yes,Travel_Rarely,11120,Sales,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,49,NaN,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,37,1149.5,Yes,Travel_Rarely,13830,Research & Development,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,33,2909.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,27,3468.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2